---
layout: default
title: Lecture Notes
permalink: lec-notes
---

<article class="notes">
  <div class="entry">
  <div id="content1">
      <h2> Disclaimer </h2> 
          <p>These notes are written in their entirety by me, Iris Jiang, while attending lectures at the University of Waterloo. They are provided as is and free of charge. No monetary compensation was received for these notes. I have no intentions of violating any University of Waterloo policies and will gladly honour takedown notices produced by an authorized University of Waterloo representative.</p>
          <p>These notes are by no means authoritative so please use them at your own peril.</p>
  </div>


  <div class="notes-main">
    {% assign subjects = site.notes | map: "subject" | uniq | sort %}
    {% assign courses = site.notes %}
    {% for subject in subjects %}
        <h2>{{ subject }}</h2>
        <ul>
        {% for course in courses %}
          {% if course.subject contains subject %}
            <li>
                <a href="{{ course.url }}">{{ course.title }}</a>
            </li>
            <br>
          {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
  </div>
    
  <p> Some other notes you might find useful: <a href="https://notes.sibeliusp.com"> Sibelius Peng</a></p>

  <div id="content2">
    <h2> Contact </h2>
    <p> If you spot a typo or have any question, please <a href="mailto: m64jiang@gmail.com?subject=Lecture Notes Question"> contact me</a>.</p> 
  </div>
  </div>
</article>
